<div class="console">
  <label for="rustCompiler">&nbsp;🚀 Let's test the RUST Code...</label>
  <textarea id="rustCompiler" [(ngModel)]='code' rows="10" cols="50" name="console" class="prism-live" ></textarea>
</div>

<div class="result-container" *ngIf="!isLoading || !consoleResult">
  <span>{{consoleResult}}</span>
  <div class="loader"  *ngIf="isLoading" ></div>
</div>

<div class="wrap">
  <button (click)="runScript()" class="button">RUN</button>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>

<
