.snippet-container {
  background: #333;
  color: #FFF;
  margin: 20px;
  border-radius: 7px;
  padding: 50px;
  white-space: pre-line;
  font-family:'Courier New', Courier, monospace;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
}
