.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    img {
      width: 240px;
      object-fit: cover;
    }
  }

  .wallet-data-container {

  }

  .wallet-account {
    font-family: 'Press Start 2P';
    margin-right: 10px;
    font-size:8px;
    border-radius: 10px;
    background-color: rgb(234, 128, 128);
    opacity: 0.8;
    color:#fff;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }

  .wallet-label {
    font-family: 'Press Start 2P';
    font-size: 8px;
  }

  button {
    margin: 15px 15px 15px 0px;
    width: 200px;
    height: 26px;
    font-family: 'Press Start 2P';
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

}

