<mat-dialog-content>

    <div class="details-modal">
      <div class="details-modal-title">
        <h1 class="badge_title">Awsome Dude, congratulations!!!</h1>
      </div>
      <div class="details-modal-content">
        <p align="center" class="badge_txt">You just unlocked a Badge</p>
        <p align="center">
          <img src="assets/images/badge_beginner_transparent.png" width="350px"/>
        </p>
        <p align="center" class="badge_txt">Let's move on.<a href="#">Next chapter</a> | <a class="pointer"
                                                                                            (click)="goToMintPage()">Submit
          results</a></p>
      </div>
    </div>
</mat-dialog-content>
