.question-container{
  background: rgb(231, 196, 196);
  color: rgb(29, 3, 3);
  margin: 20px;
  border-radius: 7px;
  padding: 50px;
  min-height: calc(10vh - 50px);
  height: 10%;
  white-space: pre-line;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
